.title {
    -fx-font-size: 32px;
    -fx-font-weight: bold;
    -fx-text-fill: #006456;
}

.button {
    -fx-background-color: #006456;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 10px 25px;
    -fx-background-radius: 8px;
}

.button:hover {
    -fx-background-color: #004846;
}

.cancel-button {
    -fx-background-color: #d9d9d9;
    -fx-text-fill: #333333;
}

.cancel-button:hover {
    -fx-background-color: #c5c5c5;
}